.container .submenu a{
    text-decoration: none;
    color:#343A40;
    padding: 10px;
    font-size: 24px;
    margin: auto;
    transition: 0.5s;
}

.container .submenu a:hover{
color: #fff;
background-color: #343A40;
}

.card{
    cursor: pointer;
}
.Comentario{
    box-shadow: 2px 3px 31px 7px rgba(0,0,0,0.75);
}
a.hrefCard {
    color:#343A40;
    text-decoration: none;
}
a.hrefCard:hover {
    color:#343A40;
    text-decoration: none;
}
